<div class="footer-div">
	<div class="footer-link-div">
		<div class="footer-links">
			<ul>
				<li><a href="/">Home</a></li>
			</ul>
			<div class="clr"></div>
		</div>
		<div class="copy-right-div">
		</div>
	</div>
	<div class="footer-statistics-div">
		<div>
			<h3>
			</h3>
		</div>
	</div>
	<div class="footer-social-div">
	</div>
	<div class="clr"></div>
</div>
