<div class="header">
	<div class="logo-div">
		<a href="/">
			<img src="<%= asset_path('demo-images/demo-logo.png') %>">
		</a>
	</div>
	<div class="right-header-div">
	</div>
	<div class="clr"></div>
</div>
<div id="notice_div" align="center" style="display:none;" class="notic_div" >
	<span id="notice" class="notice_top">
	</span>
</div>
<script type="text/javascript">
	<% html = "" %>
	<% flash.each do |name, msg| %>
		<% html += msg if msg.is_a?(String) %>
	<% end %>

	<% if html.present? %>
		showNotice("<%= html.html_safe %>");
	<% end %>
</script>
