<script id="template_blog" type="text/html">
	<tr id="tr_blog_{{ _id }}">
    <td>{{ title }}</td>
    <td>{{ content }}</td>
    <td>{{ published_on }}</td>
    <td>{{ tags }}</td>
  </tr>
</script>

